.sidebar {
    padding: 20px;
    background-color: #f8f9fa;
    height: 100vh;
}

.sidebar h2 {
    font-size: 20px;
    margin-bottom: 20px;
}

.sidebar ul {
    list-style: none;
    padding-left: 0;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    text-decoration: none;
    color: #007bff;
}

.sidebar ul li a:hover {
    text-decoration: underline;
}

.campo-rosa {
    background-color: #ffcccb; /* Color rosa claro */
    padding: 15px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados para un mejor estilo */
}
